body,
html {
  overflow: visible;
  display: flex;
  width: 100%;
}
* {
  border-radius: 0 !important;
}
#toggle {
  display: none;
}
@media screen {
  #toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  body.border_visable {
    width: 100%;
  }
}
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: '微软雅黑';
}
div {
  font-family: '微软雅黑 Light';
}
#main {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  width: 210mm;
  margin: 0;
  padding: 10px;
}
@media screen {
  body.border_visable #main {
    margin: auto;
    border: 1px black solid;
    box-shadow: 1mm 1.5mm 0 black;
  }
}
#main > #left,
#main #right {
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
  position: relative;
}
#main > .background1 {
  position: absolute;
  top: 12px;
  left: 196px;
  font-size: 80px;
  color: red;
  opacity: 0.3;
  font-family: Tahoma;
}
#left {
  width: 38.19660113%;
  border-right: 1px solid black;
}
#left #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#left #footer .phone {
  font-size: 24px;
}
#left #footer .mail {
  font-size: 14px;
}
#left #footer > * {
  margin: 5px 3px;
}
#left #footer > * > * {
  vertical-align: middle;
}
#left #footer > * > i {
  font-size: larger;
}
#right {
  width: 61.80339887%;
}
#right .super {
  text-align: center;
  margin-bottom: 0.7em;
}
section {
  margin: 0.8em 0 0 0;
}
section h3,
section h4,
section h5 {
  color: #8e9193;
  margin: 0 0 4px 0;
}
.tips li {
  display: inline-block;
  line-height: 1.6;
  font-size: 22px;
}
.alert.tiny {
  padding: 5px 12px;
  margin-bottom: 5px;
}
#skills {
  table-layout: fixed;
}
#skills td:nth-of-type(odd) {
  width: 6em;
  text-align: right;
  font-weight: bold;
}
#coding td:first-child {
  width: 7em;
  text-align: right;
  font-weight: bold;
}
#coding td:nth-child(2) {
  width: 3.4em;
  text-align: center;
  white-space: nowrap;
}
table.blue {
  width: 100%;
}
table.blue td,
table.blue th {
  padding: 0cm 5.4pt 0cm 5.4pt;
}
table.blue th {
  border: solid #4472C4 1.0pt;
  border-left: none;
  background: #4472C4;
  padding: 0cm 5.4pt 0cm 5.4pt;
}
table.blue tr:not(:first-child) td {
  border-top: none;
}
table.blue td {
  border: solid #8EAADB 1.0pt;
}
table.blue td:not(:first-child) {
  border-left: none;
}
table.blue tr:nth-of-type(odd) {
  background: #D9E2F3;
}
.spacer1 {
  height: 126px;
}
.history_continue {
  font-style: italic;
}
#history {
  flex-direction: column;
}
#history article {
  border-bottom: 1px #bdbdbd dashed;
  padding-top: 9px;
}
#history article:first-child {
  border-top: 1px #bdbdbd dashed;
}
#history header {
  font-family: '微软雅黑';
  font-size: 20px;
}
